{% extends "base.html" %}
{% block title %}Lista de Saídas{% endblock title %}
{% block header %}Lista de Saídas de Produtos{% endblock header %}

{% block content %}
<div class="container my-4">
  <div class="card shadow p-3">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col" style="width: 8%;">Cod</th>
            <th scope="col">Cliente</th>
            <th scope="col">Produto</th>
            <th scope="col">Tipo</th>
            <th scope="col" style="width: 12%;">Quantidade</th>
            <th scope="col" style="width: 15%;">Data</th>
          </tr>
        </thead>
        <tbody>
          {% for outproduct in out_products %}
          <tr class="text-center">
            <th scope="row">{{ outproduct.pk }}</th>
            <td class="text-start">{{ outproduct.customer.name }}</td>
            <td class="text-start">{{ outproduct.product.name }}</td>
            <td>{{ outproduct.operation_description.name }}</td>
            <td>{{ outproduct.quantity }}</td>
            <td>{{ outproduct.created_at|date:"d/m/Y H:i" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'home' %}" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> Voltar
      </a>
    </div>
  </div>
</div>
{% endblock content %}
