
.card-login {
    max-width: 800px;
    width: 90vw;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;
}
.img-container img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
}

@media (max-width: 767.98px) {
    .card-login {
    max-width: 400px;
    width: 95vw;
    }
    .img-container {
    height: auto;
    padding: 10px 10px 0 10px;
    }
    .img-container img {
    max-height: 200px;
    }
}

@media (max-width: 576px) {
    body {
      font-size: 0.9rem;
    }
    .form-label, .form-control, button {
      font-size: 0.9rem;
    }
  }